body {
  background-color: rgba(176, 152, 67, 0.6);
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

div {
  background: #f7e6a1;
  width: 80%;
  margin: 30px auto;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1 {
  color:#3e3925;
  margin: 0;
  line-height: 1.1;
  font-family: 'Palatino Linotype', serif;
  font-size: 42px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

h2{
  color:#3e3925;
  margin: 0;
  font-size: 26px;
  line-height: 0.8;
  font-style: italic;
}

ul {
  background: #fff2c2;
  width: 60%;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  list-style-position: inside;
  font-size:18px; 
  font-style:italic; 
  line-height:1.6; 
}

a{
  color: #8B6F47;
}

img {
  box-shadow: 0 0 18px rgba(0,0,0,0.4);
  width:  250px ;
  height: 250px ;
}